# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw and processed datasets
data/raw/*
data/processed/*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Generated reports
reports/figures/*
reports/dashboard/*